'global':
  'editor':
    'showIndentGuide': true
    'fontFamily': 'Menlo'
    'fontSize': 15
  'core':
    'ignoredNames': [
      '.bundle'
      '.git'
      'log'
      'repositories'
      'tmp'
      'vendor'
    ]
    'themes': [
      'unity-ui'
      'glacier-syntax'
    ]
    'hideGitIgnoredFiles': true
    'disabledPackages': [
      'background-tips'
      'exception-reporting'
      'metrics'
    ]
  'spell-check':
    'grammars': [
      'text.plain'
      'source.gfm'
      'text.git-commit'
    ]
  'welcome':
    'showOnStartup': false
  'release-notes':
    'viewedVersion': '0.89.0'
  'go-plus': {}
'exception-reporting':
  'userId': '638ff844-853c-79e5-d3a3-dfc458e5d6f3'
'release-notes':
  'viewedVersion': '0.67.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': '356850b713e2456af08ee5ff1810bbd05a0090b0'
